/* @update: 2017-8-9 14:25:25 */

body {
    background-color: #f5f9fc;
}

.hide {
    display: none;
}

.clear {
    float: none;
    clear: both;
}

.con-head {
    width: 100%;
    height: 615px;
    position: relative;
    overflow: hidden;
    background: url(i/bg.jpg) top center no-repeat;
}

.con-head #homeBanner {
    width: 1122px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.con-head #homeBanner .company {
    width: 153px;
    height: 45px;
    display: block;
    background: #1e90ff;
    color: #fff;
    text-align: center;
    font: 700 18px/45px "microsoft yahei";
    position: absolute;
    top: 25px;
    left: 334px;
    border-radius: 4px;
}

.con-head #homeBanner .company:hover {
    background: #3097fb;
}

.con-head #homeBanner .ewm {
    float: right;
    margin-top: 5px;
}

.con-head #homeBanner .pic-layer {
    width: 100%;
    height: 462px;
    float: left;
    overflow: hidden;
}

.con-head #homeBanner .pic-layer li {
    background-position: center center;
    background-repeat: no-repeat;
    width: 1122px;
    height: 340px;
    display: block;
    position: absolute;
    top: 84px;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    background-image: url(i/banner.jpg);
}

.con-head #homeBanner .pic-layer li a {
    width: 911px;
    height: 340px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.con-head #homeBanner .pic-layer li a h3 {
    font: 700 62px/62px "microsoft yahei";
    color: #fff;
    margin-top: 126px;
    text-align: center;
}

.con-head #homeBanner .pic-layer li a h4 {
    font: 400 27px/27px "microsoft yahei";
    color: #fff;
    margin-top: 14px;
    text-align: center;
}

.con-head #homeBanner .pic-layer .current {
    opacity: 1;
    filter: alpha(opacity=100);
    z-index: 1;
}

.con-head #homeBanner .Pro-list {
    position: absolute;
    top: 433px;
    left: 0;
}

.con-head #homeBanner .Pro-list ul {
    margin-right: -5px;
}

.con-head #homeBanner .Pro-list ul li {
    width: 220px;
    height: 120px;
    float: left;
    margin-right: 5px;
    cursor: pointer;
}

.con-head #homeBanner .Pro-list ul li h3 {
    font: 700 30px/30px "microsoft yahei";
    color: #fff;
    padding: 32px 0 0 30px;
}

.con-head #homeBanner .Pro-list ul li i {
    width: 23px;
    height: 2px;
    background: #fff;
    overflow: hidden;
    display: block;
    margin: 10px 0 10px 30px;
}

.con-head #homeBanner .Pro-list ul li p {
    font: 400 16px/16px "microsoft yahei";
    color: #fff;
    margin: 0 0 0 30px;
}

.con-head #homeBanner .Pro-list ul .li-bg1 {
    background: url(i/1.png) no-repeat;
}

.con-head #homeBanner .Pro-list ul .li-bg2 {
    background: url(i/2.png) no-repeat;
}

.con-head #homeBanner .Pro-list ul .li-bg3 {
    background: url(i/3.png) no-repeat;
}

.con-head #homeBanner .Pro-list ul .li-bg4 {
    background: url(i/4.png) no-repeat;
}

.con-head #homeBanner .Pro-list ul .li-bg5 {
    background: url(i/5.png) no-repeat;
}

.con-head #homeBanner .Pro-list ul li:hover {
    opacity: .9;
    filter: alpha(opacity=90);
}

.con-head .banner-ctrl {
    width: 210px;
    height: 340px;
    position: absolute;
    top: 84px;
    right: 0;
    z-index: 1;
}

.con-head .banner-ctrl .shadow-bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 210px;
    height: 340px;
    background: #000;
    opacity: .4;
    filter: alpha(opacity=40);
    z-index: 1;
}

.con-head .banner-ctrl .shadow-bg .bor-white {
    position: absolute;
    top: 85px;
    right: 0;
    width: 209px;
    height: 1px;
    background: #fff;
    opacity: .06;
    filter: alpha(opacity=6);
}

.con-head .banner-ctrl .shadow-bg .bor-white2 {
    top: 170px;
}

.con-head .banner-ctrl .shadow-bg .bor-white3 {
    top: 255px;
}

.con-head .banner-ctrl .circle-box2 {
    width: 210px;
    height: 340px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.con-head .banner-ctrl .circle-box2 li {
    width: 210px;
    height: 85px;
    cursor: pointer;
    position: relative;
}

.con-head .banner-ctrl .circle-box2 li span {
    width: 4px;
    height: 86px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

.con-head .banner-ctrl .circle-box2 li a {
    display: block;
    width: 210px;
    height: 84px;
    position: absolute;
    left: 0;
    top: 1px;
    z-index: 1;
    cursor: default;
}

.con-head .banner-ctrl .circle-box2 li a p {
    font: 400 18px/18px "microsoft yahei";
    color: #fff;
    padding: 22px 0 0 44px;
    display: block;
}

.con-head .banner-ctrl .circle-box2 li a em {
    font: 400 14px/14px "microsoft yahei";
    color: #fff;
    padding: 10px 0 0 44px;
    opacity: .4;
    display: block;
    filter: alpha(opacity=40);
}

.con-head .banner-ctrl .circle-box2 .current span {
    background: #1e90ff;
}

.con-head .banner-ctrl .circle-box2 .current a {
    background: #fff;
    padding-left: 0;
}

.con-head .banner-ctrl .circle-box2 .current a p {
    color: #323232;
}

.con-head .banner-ctrl .circle-box2 .current a em {
    color: #323232;
    filter: alpha(opacity=100);
    opacity: 1;
}

.hot-pro {
    width: 1122px;
    margin: 0 auto 40px;
}

.hot-pro .pro-box {
    width: 1122px;
    position: relative;
    padding-top: 60px;
}

.hot-pro .pro-box .blue-box {
    width: 285px;
    height: 285px;
    background: url(i/pro1.jpg) no-repeat;
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 5;
}

.hot-pro .pro-box .blue-box h3 {
    font: 700 52px/52px "microsoft yahei";
    color: #fff;
    text-align: center;
    padding: 55px 0 20px;
}

.hot-pro .pro-box .blue-box p {
    font: 400 14px/14px "microsoft yahei";
    color: #fff;
    text-align: center;
    margin-bottom: 12px;
}

.hot-pro .pro-box .blue-box a {
    width: 135px;
    height: 40px;
    background: #fff;
    font: 700 16px/40px "microsoft yahei";
    color: #2795f2;
    display: block;
    border-radius: 4px;
    text-align: center;
    margin: 20px auto;
}

.hot-pro .pro-box .blue-box a:hover {
    opacity: .9;
    filter: alpha(opacity=90);
}

.hot-pro .pro-box .blue-box .small-btn {
    width: 120px;
    height: 36px;
    font: 700 14px/36px "microsoft yahei";
    margin: 10px -6px 0 18px;
}

.hot-pro .pro-box .blue-shadow {
    width: 335px;
    height: 335px;
    background: url(i/shadow.png) no-repeat;
    position: absolute;
    top: 20px;
    left: -25px;
    z-index: 2;
}

.hot-pro .pro-box .blue-box2 {
    background: url(i/pro2.jpg) no-repeat;
}

.hot-pro .pro-box .blue-box3 {
    background: url(i/pro3.jpg) no-repeat;
}

.hot-pro .pro-box .blue-box4 {
    background: url(i/pro4.jpg) no-repeat;
}

.hot-pro .pro-box .blue-box5 {
    background: url(i/pro5.jpg) no-repeat;
}

.hot-pro .pro-box .font-box {
    border: 1px solid #eee;
    width: 1075px;
    height: 310px;
    background: #fff;
    margin-left: 45px;
    overflow: hidden;
}

.hot-pro .pro-box .font-box .description {
    margin: 74px 0 0 355px;
}

.hot-pro .pro-box .font-box .description .jxd-box {
    margin: -24px 0 0 -30px;
}

.hot-pro .pro-box .font-box .description .jxd-box h4 i {
    width: 2px;
    height: 20px;
    background: #1e90ff;
    display: inline-block;
    vertical-align: middle;
}

.hot-pro .pro-box .font-box .description .jxd-box h4 p {
    font: 400 20px/20px "microsoft yahei";
    color: #323232;
    display: inline;
    vertical-align: middle;
    margin-left: 8px;
}

.hot-pro .pro-box .font-box .description .jxd-box .grey-font {
    font: 400 12px/12px "microsoft yahei";
    color: #323232;
    opacity: .4;
    filter: alpha(opacity=40);
    margin: 10px 0 18px;
}

.hot-pro .pro-box .font-box .description .jxd-box .ts-font {
    font: 400 16px/16px "microsoft yahei";
    color: #323232;
}

.hot-pro .pro-box .font-box .description .jxd-box .span-list {
    background: url(//img30.360buyimg.com/jr_image/jfs/t2671/111/4277426252/1247/b6b4b4e6/57b2e0beN17efea6f.png) left top no-repeat;
    display: block;
    margin-top: 24px;
}

.hot-pro .pro-box .font-box .description .jxd-box .span-list p {
    font: 400 14px/20px "microsoft yahei";
    color: #5e5e5e;
    margin: 0 0 18px 36px;
    padding-top: 1px;
}

.hot-pro .pro-box .font-box .description .mr10 {
    margin-right: 20px;
}

.hot-pro .pro-box .font-box .description .step-num {
    font: 400 20px/20px "microsoft yahei";
    color: #323232;
    margin: 16px 20px 0 0;
    display: block;
}

.hot-pro .pro-box .font-box .description .des-box {
    width: 360px;
    height: 53px;
    margin-bottom: 42px;
}

.hot-pro .pro-box .font-box .description .des-box i {
    width: 50px;
    height: 53px;
    display: block;
    background: url(i/block.jpg) no-repeat;
    font: 400 24px/53px "microsoft yahei";
    color: #24b4fe;
    text-align: center;
    margin-right: 25px;
}

.hot-pro .pro-box .font-box .description .des-box i.dark {
    background-image: url(i/block2.png);
    color: #3368e2;
}

.hot-pro .pro-box .font-box .description .des-box h3 {
    font: 400 20px/20px "microsoft yahei";
    color: #323232;
    margin: 0 0 12px;
    padding-top: 2px;
}

.hot-pro .pro-box .font-box .description .des-box p {
    font: 400 16px/16px "microsoft yahei";
    color: #323232;
    opacity: .4;
    filter: alpha(opacity=40);
}

.hot-pro .pro-box .font-box .description .pro3-Bg {
    width: 609px;
    height: 256px;
    background: url(i/pro3bg.png) no-repeat;
    margin-top: -50px;
}

.hot-pro .pro-box .font-box .description .de-first {
    font: 400 20px/20px arial, "microsoft yahei";
    color: #323232;
    margin-bottom: 10px;
    margin-top: -24px;
}

.hot-pro .pro-box .font-box .description .de-order {
    font: 400 16px/16px "microsoft yahei";
    color: #323232;
    opacity: .4;
    filter: alpha(opacity=40);
}

.hot-pro .pro-box .font-box .description .step-bg {
    width: 487px;
    height: 53px;
    background: url(i/step1.png) no-repeat;
    margin: 0 0 20px;
}

.hot-pro .pro-box .font-box .description .step-bg2 {
    background: url(i/step2.jpg) no-repeat;
}

.hot-pro .pro-box .font-box .description .step-font {
    width: 155px;
    display: block;
    text-align: center;
}

.hot-pro .pro-box .font-box .description .step-font em {
    font: 400 20px/20px "microsoft yahei";
    color: #323232;
    margin-bottom: 10px;
    display: block;
}

.hot-pro .pro-box .font-box .description .step-font p {
    font: 400 14px/14px "microsoft yahei";
    color: #323232;
    opacity: .4;
    filter: alpha(opacity=40);
}

.hot-pro .pro-box .font-box .description .mleft10 {
    margin-left: 38px;
}

.hot-pro .pro-box .font-box .description .mleft20 {
    margin-left: 66px;
}

.hot-pro .pro-box .font-box .description .mleft30 {
    margin-left: 64px;
}

.hot-pro .pro-box .font-box .description .mbottom {
    margin-bottom: 30px;
}

.hot-pro .pro-box .font-box .mtop {
    margin-top: 50px;
}

.pro-data {
    width: 100%;
    height: 208px;
    background: url(//img30.360buyimg.com/jr_image/jfs/t2317/346/2198432983/27369/4a67279b/56b2fcdbN02c8bec3.jpg) center center no-repeat;
}

.pro-data .databox {
    width: 1200px;
    height: 208px;
    margin: 0 auto;
}

.pro-data .databox ul {
    overflow: hidden;
    padding: 68px 46px 0 43px;
}

.pro-data .databox ul li {
    float: left;
}

.pro-data .databox ul li b {
    font: 700 48px/48px arial;
    color: #fff;
}

.pro-data .databox ul li p {
    font: 400 14px/14px "microsoft yahei";
    color: #fff;
    opacity: .6;
    filter: alpha(opacity=60);
    text-indent: 10px;
    margin-top: 10px;
}

.pro-data .databox ul .w433,
.pro-data .databox ul .w505 {
    width: 450px;
}

.pro-data .databox ul .w260 {
    width: 178px;
    float: right;
}

.questioncon {
    width: 100%;
    background: #fff;
    overflow: hidden;
}

.questioncon .questions {
    width: 1200px;
    margin: 0 auto;
}

.questioncon .questions h2 {
    font: 400 36px/36px "microsoft yahei";
    color: #000;
    text-align: center;
    margin-top: 60px;
}

.questioncon .questions .border-box {
    width: 152px;
    height: 3px;
    overflow: hidden;
    margin: 10px auto;
    position: relative;
}

.questioncon .questions .border-box span {
    width: 152px;
    height: 1px;
    background-color: #e1e2e4;
    display: block;
    position: absolute;
    top: 1px;
    left: 0;
    z-index: 1;
}

.questioncon .questions .border-box i {
    width: 30px;
    height: 3px;
    display: block;
    background-color: #2795f2;
    position: absolute;
    top: 0;
    z-index: 2;
    left: 50%;
    margin-left: -15px;
}

.questioncon .questions ul {
    overflow: hidden;
    margin-top: 50px;
}

.questioncon .questions ul li {
    overflow: hidden;
    margin: 0 0 20px 80px;
}

.questioncon .questions ul li i {
    width: 21px;
    height: 21px;
    background: #2795f2;
    display: block;
    text-align: center;
    border-radius: 50px;
    font: 400 14px/21px arial;
    color: #fff;
    float: left;
    margin-right: 10px;
}

.questioncon .questions ul li h3 {
    width: 940px;
    float: left;
    overflow: hidden;
}

.questioncon .questions ul li h3 .tittle {
    font: 700 20px/20px "microsoft yahei";
    color: #000;
}

.questioncon .questions ul li h3 .content {
    font: 400 14px/26px "microsoft yahei";
    color: #a5a5a5;
    padding-top: 20px;
}

.questioncon .questions .more-q {
    font: 400 18px "microsoft yahei";
    color: #323232;
    margin: 30px auto 120px;
    width: 190px;
    display: block;
}

.questioncon .questions a.more-q:hover {
    opacity: .8;
    filter: alpha(opacity=80);
}

.top-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background: #fff;
    border: 1px solid #eee;
    width: 100%;
    height: 80px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.top-menu .menu-box {
    width: 1220px;
    margin: 20px auto 0;
    height: 43px;
}

.top-menu .menu-box ul {
    float: left;
    height: 43px;
}

.top-menu .menu-box ul li {
    height: 43px;
    border-right: 1px dashed #ccc;
    float: left;
    cursor: pointer;
    padding: 0 30px;
}

.top-menu .menu-box ul li .icon {
    width: 41px;
    height: 43px;
    display: block;
    float: left;
    background: url(i/icon1.png) no-repeat;
    margin: 0 10px 0 0;
}

.top-menu .menu-box ul li .icon2 {
    background: url(i/icon2.png) no-repeat;
}

.top-menu .menu-box ul li .icon3 {
    background: url(i/icon3.png) no-repeat;
}

.top-menu .menu-box ul li .icon4 {
    background: url(i/icon4.png) no-repeat;
}

.top-menu .menu-box ul li .icon5 {
    background: url(i/icon5.png) no-repeat;
}

.top-menu .menu-box ul li span {
    float: left;
}

.top-menu .menu-box ul li span h3 {
    font: 400 18px/18px "microsoft yahei";
    color: #323232;
    margin: 2px 0 8px;
}

.top-menu .menu-box ul li span p {
    font: 400 12px/12px "microsoft yahei";
    color: #8e93a2;
}

.top-menu .menu-box ul .bor-none {
    border-right: none;
}

.top-menu .menu-box .company {
    width: 153px;
    height: 43px;
    display: block;
    background: #1e90ff;
    color: #fff;
    text-align: center;
    font: 700 18px/43px "microsoft yahei";
    border-radius: 4px;
    float: right;
}

.top-menu .menu-box .company:hover {
    background: #3097fb;
}

.negative {
    position: relative;
    z-index: 1;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    -moz-transform: perspective(600px);
    -ms-transform: perspective(600px);
    -webkit-transform: perspective(600px);
    transform: perspective(600px);
    opacity: 0;
    -ms-filter: alpha(opacity=0);
    filter: alpha(opacity=0);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -webkit-transform-origin: center center;
    transform-origin: center center;
}

.flip {
    position: relative;
    z-index: 3;
}

.flip .positive {
    z-index: 1;
    opacity: 0;
    -ms-filter: alpha(opacity=0);
    filter: alpha(opacity=0);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -o-backface-visibility: hidden;
}

.flip .negative {
    z-index: 2;
    opacity: 1;
    -ms-filter: alpha(opacity=100);
    filter: alpha(opacity=0);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    -ms-backface-visibility: visible;
    backface-visibility: visible;
    -o-backface-visibility: visible;
}

.swing {
    -webkit-animation: swinging 10s ease-in-out 0s infinite;
    -moz-animation: swinging 10s ease-in-out 0s infinite;
    animation: swinging 10s ease-in-out 0s infinite;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0;
}

@-webkit-keyframes swinging {
    0% {
        -webkit-transform: rotate(0);
    }
    5% {
        -webkit-transform: rotate(10deg);
    }
    10% {
        -webkit-transform: rotate(-9deg);
    }
    15% {
        -webkit-transform: rotate(8deg);
    }
    20% {
        -webkit-transform: rotate(-7deg);
    }
    25% {
        -webkit-transform: rotate(6deg);
    }
    30% {
        -webkit-transform: rotate(-5deg);
    }
    35% {
        -webkit-transform: rotate(4deg);
    }
    40% {
        -webkit-transform: rotate(-3deg);
    }
    45% {
        -webkit-transform: rotate(2deg);
    }
    100%,
    50% {
        -webkit-transform: rotate(0);
    }
}

@-moz-keyframes swinging {
    0% {
        -moz-transform: rotate(0);
    }
    5% {
        -moz-transform: rotate(10deg);
    }
    10% {
        -moz-transform: rotate(-9deg);
    }
    15% {
        -moz-transform: rotate(8deg);
    }
    20% {
        -moz-transform: rotate(-7deg);
    }
    25% {
        -moz-transform: rotate(6deg);
    }
    30% {
        -moz-transform: rotate(-5deg);
    }
    35% {
        -moz-transform: rotate(4deg);
    }
    40% {
        -moz-transform: rotate(-3deg);
    }
    45% {
        -moz-transform: rotate(2deg);
    }
    100%,
    50% {
        -moz-transform: rotate(0);
    }
}

@keyframes swinging {
    0% {
        transform: rotate(0);
    }
    5% {
        transform: rotate(10deg);
    }
    10% {
        transform: rotate(-9deg);
    }
    15% {
        transform: rotate(8deg);
    }
    20% {
        transform: rotate(-7deg);
    }
    25% {
        transform: rotate(6deg);
    }
    30% {
        transform: rotate(-5deg);
    }
    35% {
        transform: rotate(4deg);
    }
    40% {
        transform: rotate(-3deg);
    }
    45% {
        transform: rotate(2deg);
    }
    100%,
    50% {
        transform: rotate(0);
    }
}

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}