@charset "UTF-8";
.main {
  overflow: hidden;
  padding-bottom: 60px;
  position: relative;
  font-family: 'Microsoft Yahei', '\5FAE\8F6F\96C5\9ED1', Arial, 'Hiragino Sans GB', '\5B8B\4F53';
  font-size: 12px;
  color: #5e5e5e;
  width: 100%;
  background: url(../img/zhongchou-wrapbg.jpg) 0 480px no-repeat;
}
.main .bodyBg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 480px;
  min-width: 1200px;
  background-position: center bottom;
  background-repeat: no-repeat;
  transition: all 0.6s;
}
.main .tab1 {
  width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
  position: relative;
  z-index: 1;
}
.main .tab1 .slider {
  width: 1200px;
  height: 500px;
  overflow: hidden;
  position: relative;
}
.main .tab1 .slider:hover span {
  display: block;
}
.main .tab1 .slider > span {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 225px;
  z-index: 10;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
  display: none;
  background: url(../img/zhongchou-icons.png) no-repeat;
}
.main .tab1 .slider > span:nth-child(1) {
  left: 20px;
  background-position: 0 -1666px;
}
.main .tab1 .slider > span:nth-child(2) {
  right: 20px;
  background-position: 0 -1566px;
}
.main .tab1 .slider > span:hover:nth-child(1) {
  background-position: 0 -1716px;
}
.main .tab1 .slider > span:hover:nth-child(2) {
  background-position: 0 -1616px;
}
.main .tab1 .slider .sliderList ul {
  position: absolute;
  left: 480px;
  bottom: 0;
  z-index: 9;
  padding: 20px 10px;
  transition: all .6s;
  -moz-transition: all .6s;
  -ms-transition: all .6s;
  -webkit-transition: all .6s;
}
.main .tab1 .slider .sliderList ul:hover {
  transform: scale(1.5);
}
.main .tab1 .slider .sliderList ul li {
  display: block;
  float: left;
  background: #fff;
  width: 8px;
  height: 8px;
  margin-right: 8px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
}
.main .tab1 .slider .sliderList ul li.active {
  background-color: #c5d0dc;
}
.main .tab1 .slider .sliderBox {
  float: left;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: none;
}
.main .tab1 .slider .sliderBox > div {
  width: 3000px;
}
.main .tab1 .slider .sliderBox a {
  display: block;
  float: left;
  transition: all 0.8s ease-in-out;
}
.main .tab1 .slider .sliderBox a img {
  display: block;
  width: 100%;
}
.main .tab1 .slider .sliderBox.sliderBox1 {
  width: 600px;
  height: 500px;
}
.main .tab1 .slider .sliderBox.sliderBox1 a {
  width: 600px;
  height: 500px;
}
.main .tab1 .slider .sliderBox.sliderBox2 {
  width: 600px;
  height: 250px;
}
.main .tab1 .slider .sliderBox.sliderBox2 a {
  width: 600px;
  height: 250px;
}
.main .tab1 .slider .sliderBox.sliderBox3,
.main .tab1 .slider .sliderBox.sliderBox4 {
  width: 300px;
  height: 250px;
}
.main .tab1 .slider .sliderBox.sliderBox3 a,
.main .tab1 .slider .sliderBox.sliderBox4 a {
  width: 300px;
  height: 250px;
}
.main .tab1 .showBar {
  padding-left: 20px;
  height: 120px;
  background: #fff;
  border: 1px solid #f2f2f2;
  box-shadow: 0 0 40px rgba(216, 216, 216, 0.5);
  padding-top: 60px;
  margin-top: -60px;
}
.main .tab1 .showBar ul {
  margin-top: 32px;
  float: left;
}
.main .tab1 .showBar ul li {
  width: 185px;
  padding-right: 85px;
  height: 58px;
  float: left;
  background: url(../img/zhongchou-showNumline.png) right no-repeat;
  text-align: right;
}
.main .tab1 .showBar ul li p:nth-child(1) {
  font-size: 36px;
  height: 36px;
  line-height: 32px;
  font-family: Arial;
  color: #323232;
}
.main .tab1 .showBar ul li p:nth-child(1) span {
  font-family: "Microsoft Yahei", "微软雅黑";
  font-size: 30px;
}
.main .tab1 .showBar ul li p:nth-child(2) {
  height: 16px;
  line-height: 16px;
  color: #a5a5a5;
  font-size: 14px;
  margin-top: 6px;
  position: relative;
}
.main .tab1 .showBar ul li p:nth-child(2) span {
  position: absolute;
  transform: translateX(-20px);
  display: inline-block;
  height: 16px;
  line-height: 16px;
  width: 16px;
  margin-right: 8px;
  background: url(../img/zhongchou-icons.png) no-repeat;
  background-position: 0 -1212px;
}
.main .tab1 .showBar ul li:nth-child(3) {
  background-image: none;
}
.main .tab1 .showBar ul li:nth-child(3) p:nth-child(2) span {
  background-position: 0 -1228px;
}
.main .tab1 .showBar .showSearch {
  display: block;
  width: 310px;
  height: 34px;
  float: right;
  border: 1px solid #ccc;
  border-radius: 18px;
  position: relative;
  margin: 43px 40px 0 0;
  transition: all .5s;
  z-index: 1;
}
.main .tab1 .showBar .showSearch:hover {
  border: 1px solid grey;
}
.main .tab1 .showBar .showSearch .showSearchBox select {
  position: absolute;
  left: 7px;
  top: 8px;
  width: 60px;
  border: none;
  outline: none;
  color: #5e5e5e;
  border-right: 1px solid #ccc;
  text-indent: 10px;
}
.main .tab1 .showBar .showSearch .showSearchBox input {
  width: 195px;
  height: 34px;
  line-height: 34px;
  position: absolute;
  top: 0px;
  left: 65px;
  font-family: "Microsoft Yahei", "微软雅黑";
  color: #5e5e5e;
  padding: 0px 35px 0px 15px;
  background-color: transparent;
  border: transparent;
  outline: transparent;
}
.main .tab1 .showBar .showSearch .showSearchBox a {
  display: block;
  width: 35px;
  height: 34px;
  position: absolute;
  top: 0;
  right: 0;
  background: transparent url(../img/zhongchou-showNumSearch.png) 5px 11px no-repeat;
}
.main .tab2 {
  width: 1200px;
  margin: 0 auto;
  padding-top: 70px;
  position: relative;
}
.main .tab2 dl {
  overflow: hidden;
}
.main .tab2 dt {
  padding-bottom: 30px;
}
.main .tab2 dt span {
  font-size: 24px;
  font-weight: 700;
  padding-left: 20px;
  position: relative;
  color: #323232;
  line-height: 24px;
  float: left;
}
.main .tab2 dt a {
  float: right;
  color: #a5a5a5;
  font-size: 16px;
  line-height: 24px;
}
.main .tab2 dt a:hover {
  color: #f52f3e;
}
.main .tab2 dd {
  margin-left: 24px;
  margin-bottom: 20px;
  float: left;
  width: 280px;
  height: 280px;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.21);
}
.main .tab2 dd:nth-child(2) {
  margin-left: 0;
}
.main .tab2 dd a {
  position: relative;
  display: block;
  width: 280px;
  height: 280px;
  text-align: center;
  color: #fff;
}
.main .tab2 dd a img {
  position: absolute;
  z-index: 0;
  display: block;
  width: 100%;
}
.main .tab2 dd a p {
  position: relative;
  z-index: 1;
}
.main .tab2 dd a p:nth-child(3) {
  width: 100%;
  font-size: 18px;
  position: absolute;
  bottom: 45px;
  z-index: 2;
}
.main .tab2 dd a p:nth-child(4) {
  width: 100%;
  color: #a5a5a5;
  font-size: 14px;
  position: absolute;
  bottom: 20px;
  z-index: 2;
}
.main .tab2 dd a span {
  position: absolute;
  top: 7px;
  left: -23px;
  z-index: 2;
  display: block;
  width: 90px;
  height: 30px;
  background-color: #0DE2D5;
  font-size: 14px;
  line-height: 30px;
  transform: rotate(-45deg);
}
.main .tab3 dl dt ul {
  float: left;
}
.main .tab3 dl dt > a {
  color: #a5a5a5;
  float: right;
  margin-top: 12px;
  font-size: 16px;
}
.main .tab3 dl dt > a:hover {
  color: #f52f3e;
}
.main .tab3 dl dd {
  width: 1200px;
  overflow: hidden;
}
.main .tab3 dl dd ul {
  width: 5000px;
  height: 390px;
}
.main .tab3 dl dd ul li > a:nth-child(2) p:nth-child(2) {
  color: #7b8793;
  margin: 0 15px;
  height: 40px;
  line-height: 22px;
  overflow: hidden;
}
.main .tab3 dl dd ul li > div {
  margin: 20px 0 0 15px;
}
.main .tab3 dl dd ul li > div p {
  display: block;
  margin-right: 10px;
  float: left;
  width: 120px;
}
.main .tab3 dl dd ul li > div p span:nth-child(1) {
  display: block;
  float: left;
  height: 16px;
  font-size: 12px;
  line-height: 16px;
  color: #a5a5a5;
}
.main .tab3 dl dd ul li > div p span:nth-child(2) {
  display: inline-block;
  float: left;
  color: #5e5e5e;
  height: 16px;
  line-height: 16px;
  font-size: 16px;
  margin-left: 6px;
}
.main .tab3 dl dd ul li:nth-child(1) > p:nth-child(3) span {
  width: 100%;
  background-position: 0 -1144px;
}
.main .tab3 dl dd ul li:nth-child(2) > p:nth-child(3) span {
  width: 2%;
}
.main .tab3 dl dd ul li:nth-child(3) > p:nth-child(3) span {
  width: 30%;
}
.main .tab3 dl dd ul li:nth-child(4) > p:nth-child(3) span {
  width: 5%;
}
.main .showTab {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.main .showTab dl dt {
  height: 47px;
  margin: 70px 0 23px;
}
.main .showTab dl dt ul li {
  float: left;
  width: 122px;
  padding: 0 18px;
  height: 40px;
  line-height: 40px;
  background: url(../img/zhongchou-linebg.png) right center no-repeat;
  text-align: center;
}
.main .showTab dl dt ul li:last-child {
  background: none;
}
.main .showTab dl dt ul li a {
  display: block;
  position: relative;
  height: 40px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 20px;
  color: #323232;
  font-weight: 700;
}
.main .showTab dl dt ul li a.current {
  color: #fff;
  background: #3ae0ab;
}
.main .showTab dl dt ul li a.current::after {
  position: absolute;
  content: url(../img/zhongchou-triangleDown.png);
  top: 19px;
  left: 56px;
}
.main .showTab dl dd > ul > li {
  float: left;
  overflow: hidden;
  width: 280px;
  height: 390px;
  margin-right: 24px;
  border: 1px solid #f2f2f2;
  box-shadow: 0 0 40px rgba(216, 216, 216, 0.5);
  position: relative;
}
.main .showTab dl dd > ul > li > a:nth-child(1) {
  display: block;
  width: inherit;
  height: 220px;
  overflow: hidden;
}
.main .showTab dl dd > ul > li > a:nth-child(1) img {
  width: inherit;
  height: inherit;
}
.main .showTab dl dd > ul > li > a:nth-child(2) p:nth-child(1) {
  font-size: 14px;
  font-weight: 700;
  color: #323232;
  margin: 18px 15px 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.main .showTab dl dd > ul > li .proBar {
  display: block;
  margin: 18px 0 0 15px;
  width: 250px;
  height: 8px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #e6e6e6;
  overflow: hidden;
}
.main .showTab dl dd > ul > li .proBar span {
  display: block;
  height: 8px;
  border-top-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-bottom-left-radius: 4px;
  background-position: 0 -1144px;
  background: url(../img/zhongchou-icons.png) no-repeat;
  background-position: 0 -1128px;
}
.main .showTab2 > dl dt {
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
}
.main .showTab2 > dl dt > ul {
  float: right;
}
.main .showTab2 > dl dt > a {
  float: left;
  display: block;
  margin-top: 8px;
  padding-right: 19px;
  background: url(../img/zhongchou-tab-hoverArrow.png) right 0 no-repeat;
  height: 24px;
  line-height: 24px;
  font-size: 24px;
  color: #323232;
  font-weight: 700;
}
.main .showTab2 > dl dt > a:hover {
  background-position: right -24px;
  color: #3ae0ab;
}
.main .showTab2 > dl dt > a span {
  float: left;
  display: block;
  margin-right: 10px;
  width: 24px;
  text-align: center;
  font-family: Arial;
  background: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 2px solid #3ae0ab;
  color: #3ae0ab;
  font-style: normal;
  font-size: 18px;
}
.main .showTab2 > dl dd > ul > li {
  margin-bottom: 20px;
  margin-left: 24px;
  margin-right: 0;
}
.main .showTab2 > dl dd > ul > li:nth-child(1) {
  width: 580px;
  margin-left: 0;
}
.main .showTab2 > dl dd > ul > li:nth-child(1) > a:nth-child(1) {
  height: 300px;
}
.main .showTab2 > dl dd > ul > li:nth-child(1) .proBar {
  float: left;
  margin-top: 6px;
  margin-right: 15px;
}
.main .showTab2 > dl dd > ul > li:nth-child(1) p:last-child span {
  float: left;
  display: block;
  width: 130px;
  text-align: center;
}
.main .showTab2 > dl dd > ul > li:nth-child(4) {
  margin-left: 0;
}
.main .showTab2 > dl dd > ul > li .tag {
  height: 22px;
  overflow: hidden;
  margin: 0 15px;
}
.main .showTab2 > dl dd > ul > li .tag li {
  float: left;
}
.main .showTab2 > dl dd > ul > li .tag li a {
  display: block;
  padding: 0 8px;
  height: 18px;
  line-height: 18px;
  border: 1px solid #e6e6e6;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color: #a5a5a5;
  margin-right: 5px;
  transition: all 0.5s;
}
.main .showTab2 > dl dd > ul > li .tag li a:hover {
  color: #44b4ff;
  border: 1px solid #44b4ff;
}
.main .showTab2 > dl dd > ul > li > div {
  height: 34px;
  margin: 14px 0 0;
  overflow: hidden;
}
.main .showTab2 > dl dd > ul > li > div ul li {
  float: left;
  border-right: 1px solid #e7e7e7;
  padding-left: 15px;
}
.main .showTab2 > dl dd > ul > li > div ul li:nth-child(1) {
  width: 63px;
}
.main .showTab2 > dl dd > ul > li > div ul li:nth-child(2) {
  width: 105px;
}
.main .showTab2 > dl dd > ul > li > div ul li:nth-child(3) {
  width: 50px;
  border-right: 0;
}
.main .showTab2 > dl dd > ul > li > div ul p:nth-child(1) {
  font-size: 16px;
  color: #5e5e5e;
  line-height: 14px;
}
.main .showTab2 > dl dd > ul > li > div ul p:nth-child(2) {
  color: #a5a5a5;
  font-size: 12px;
  margin-top: 5px;
}
